asn1crypto
attrs
azure-common
azure-nspkg
azure-storage
certifi
cffi
chardet
colorama
cryptography
idna
pip
pkginfo
pluggy
py
pycparser
pytest
pytest-runner
python-dateutil
requests
requests-toolbelt
setuptools
six
tqdm
twine
urllib3
wheel
azurestoragewrap
coverage
coveralls
docopt
more-itertools
pytest-cov
